*{
    padding: 0%;
    margin: 0%;
}

.container{
    background-color: #f2f2f2;
    padding: 5%;
    border-radius: 10px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}
.form{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.form__label{
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    margin-left: 10px;
}

.form__input{
    margin: 2px 10px 10px 10px;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
}

.form__button{
    margin:auto;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid rgb(12, 12, 12);
    color: white;
    cursor: pointer;
}